@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    background: rgb(157, 204, 233);
}

.download {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.download a img {
    border: 1px solid black;
    border-color: black;
    margin-bottom: 50px;
}

p {
    font-family: poppins;
    color: black;
    width: 75%;
    font-size: 1.2rem;
    text-align: center;
}