{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
<div class="container">
    <div class="box">
        <div class="content">


            <h2>01</h2>
            <h3>Mission</h3>
            <p>
                Our mission is to create an exciting and engaging 2D Platformer game that challenges players to explore different levels, overcome obstacles and discover a multitude of emotions while playing. With precise controls and creative level options using a powerful unity engine.
            </p>
            <a href="{% url 'index' %}">Dimension Dash</a>
        </div>
    </div>
    <div class="box">
        <div class="content">
            <h2>02</h2>
            <h3>Vision</h3>
            <p>
                Our first step is to give people the option to play against their friends which gives Dimension Dash a chance to be more enjoyable for both players by creating fun and rigid obstacles to maneuver around diligently.
            </p>
                <a href="{% url 'index' %}">Dimension Dash</a>
        </div>
    </div>
    <div class="box">
        <div class="content">
            <h2>03</h2>
            <h3>Solutions</h3>
            <p>
                Overall, we want to provide an accessible experience, offering players of all different skill levels, a rewarding measure to accomplish. We believe that video games have the power to bring people together all across the globe! 
            </p>
            <a href="{% url 'index' %}">Dimension Dash</a>
        </div>
    </div>
</div>
{% endblock %}