{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimension Dash</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<header class="head">
    <!--Navbar-->
<input type ="checkbox" name ="" id ="chk1">
<div class="logo"><h1><a href="{% url 'index' %}"><img id="logo" src="{% static 'logo2.png' %}"></a></h1></div>
    </div>
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'contact' %}">Contact Us</a></li>
        <li><a href="{% url 'reviews' %}">Reviews</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'download' %}">Download</a></li>
            <li><a href="{% url 'logout' %}">Logout({{ user.username }})</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </div>
        </li>
    </ul>
    <div class="menu">
        <label for="chk1">
            <i class="fa fa-bars"></i>
        </label>
    </div>
</header>
<body>
    {% block content %}{% endblock %}
</body>
