{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website With Login and Register </title>
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header class="header">
        <a href="#" class="logo">Dimension Dash</a>

        <nav class="navbar">
            <a href="{% url 'index' %}">Home</a>
            <a>Contact Us</a>
            <a href="reviewus">Review-Us</a>
            <a href="play.html">Play</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>

    <section class="section">
        <div class="wrapper">
            <span class="icon-close">
                <i class='bx bx-x'></i>
            </span>