{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'download.css' %}">

<div class="download">
    <a href="https://dimensiondash.s3.amazonaws.com/Dimension_Dash.zip" download>
        <img src="{% static 'windows.svg' %}" />
    </a>
    <p>Above here is the download for windows computer.<br>
    Once clicked, a zip file will be downloaded.<br>
    Extract the zip folder by right-clicking the zip file in your file manager and looking for the key word “Extract”.<br>
    From there, click DimensionDash.exe to launch the game and enjoy!<br>
    <br><br>
    <b>Disclaimer:</b> This game was made with  a 1920 x 1080 display. Be weary of any changes in text due to an alternate screen size.</p>
</div>

{% endblock %}