{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'leaderboard.css' %}">
<div id="container">
    <div class="leaderboard-heading">
        <h1>Leaderboard</h1>
        {% if user.is_authenticated %}
            <a class="submit-score" href="{% url 'submit_score' %}">Submit Score</a>
        {% endif %}
    </div>

    {% for user_score in user_scores  %}
    <div class="leaderboard-row">
        <div class="user">{{ user_score.user.username }}</div><div class="score">{{ user_score.highscore }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}